* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.appContainer {
  display: grid;
  grid-template-areas:
    'header header'
    'searchBar searchBar'
    'searchResults playlist';
  justify-items: center;
  align-items: center;
  grid-template-columns: minmax(50%, 50%) minmax(50%, 50%) ;
  row-gap: 10px;
  width: 100%;
  height: 100vh;
  background-color: blue;
  background-image: url(../../images/background_photo_desktop.a0687f3fe6f1303a2d18.jpg);
}

@media only screen and (max-width: 767px) {
  .appContainer {
    grid-template-areas: 
      'header'
      'searchBar'
      'searchResults'
      'playlist';
    grid-template-columns: 1fr;
    grid-template-rows: 50px 80px 1fr 1fr;
    height: 150vh;
  }
}

.header {
  grid-area: header;
  align-self: start;
}

.searchBar {
  grid-area: searchBar;
}

.searchResults {
  grid-area: searchResults;
}

.playlist {
  grid-area: playlist;
}