* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  min-width: 100%;
  height: 50px;
  background-color: rgb(24, 14, 105);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: white;
}

.header h1 span {
  color: rgb(109, 7, 219);
}